<h1>Hello {{ name }}!</h1>
<div class="container">
  <div *ngFor="let i of ['1', '2', '3']">{{ i }}</div>

  // ici le composant est inclus dans chaque "child"
  // rendu HTML
  // -------------------------------------------------------
  // <div class="child"><template du composant board-dnd-list></div>
  // <div class="child"><template du composant board-dnd-list></div>
  // <div class="child"><template du composant board-dnd-list></div>
  // -------------------------------------------------------
  <div class="child"
    *ngFor="let i of ['1', '2', '3']" board-dnd-list
    [name]="i"
  ></div>

  // ici le composant est encapsuler dans le container "child2"
  // rendu HTML
  // -------------------------------------------------------
  // <div class="child2">
  //    <board-dnd-list><template du composant></board-dnd-list>
  //    <board-dnd-list><template du composant></board-dnd-list>
  //    <board-dnd-list><template du composant></board-dnd-list>
  // </div>
  // -------------------------------------------------------
  <div class="child2">
    <board-dnd-list *ngFor="let i of ['1','2','3']" [name]="i"></board-dnd-list>
  </div>
</div>
